body {
  background-color: #f8f8f8; /* Light gray background */
  font-family: 'Poppins', sans-serif; /* Modern font */
  color: #333;
}

.menu-bar {
  background-color: #4caf50; /* Blue navigation bar */
  padding: 15px 0;
  text-align: center; /* Center the menu items */
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-bar li {
  display: inline-block;
  margin: 0 15px;
}

.menu-bar a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.menu-bar a:hover {
  background-color: #388e3c; /* Darker blue on hover */
}



.container {
  width: 500px; /* Increased width */
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
}

h1 {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
  color: #27ae60;  /* Green title */
  font-weight: 600; /* Slightly bolder */
}


form {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000; /* Darker gray labels */
}

select,
input[type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Includes padding in width */
  font-size: 16px;
  transition: border-color 0.3s ease;
}

select:focus,
input[type="number"]:focus {
  border-color: #2979FF;
  outline: none;
  box-shadow: 0 0 5px rgba(41, 121, 255, 0.3);
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #27ae60; /* Green submit button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #219653; /* Darker green on hover */
}



h2 {
  font-size: 20px;
  text-align: center;
  color: #27ae60; /* Green result heading */
  margin-top: 20px; /* Add top margin */
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #E0E0E0;
  padding-bottom: 10px;
}



/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}